@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var post in Model)
{
    <article class="border rounded p-3 mb-3">
        <h2>@post.Titulo</h2>
        <p>@post.Resumo</p>
        <small>Publicado em @post.DataPublicacao.Value.ToString("dd/MM/yyyy")</small>
    </article>
}
