@model Post

<form action="/Posts/Alteracao" method="post">

    <input type="hidden" name="id" value="@Model.Id" />

    <div>
        <label>Título:</label>
        <input name="titulo" value="@Model.Titulo"/>
    </div>

    <div>
        <label>Resumo:</label>
        <input name="resumo" value="@Model.Resumo"/>
    </div>

    <div>
        <label>Categoria:</label>
        <input name="categoria" value="@Model.Categoria"/>
    </div>

    <button>Gravar</button>
</form>