    <form action="/Posts/Inclusao" method="post">

        <div>
            <label>Título:</label>
            <input name="titulo" />
        </div>
        
        <div>
            <label>Resumo:</label>
            <input name="resumo" />
        </div>
        
        <div>
            <label>Categoria:</label>
            <input name="categoria" />
        </div>
        
        <button>Gravar</button>
    </form>